@import '../../App.scss';

.author {
	margin-bottom: 0px;
}

.post-container {
	background-color: $grey;
	padding: 30px;
	.content-row {
		margin-bottom: 20px;
	}
	.stats-container {
		background-color: $dark-grey;
		.stat-row {
			padding: 10px 0px;
			div.stat {
				margin: auto 0px;
			}
		}
	}
}

.comment-section {
	background-color: $grey;
	margin-top: 35px;
	padding: 20px;
	.title-container {
		margin-top: 15px;
		text-align: center;
		.discussion-title {
			font-weight: bold;
		}
	}
	.comment-form-container {
		.button-container {
			text-align: right;
		}
	}
	.comment-container {
		background-color: $white;
		padding: 20px;
		margin-top: 30px;
	}
}

.vote-container {
	text-align: center;
	button.vote-button {
		background-color: transparent;
		border: none;
		padding: 0;
		&:active, &:hover {
			.upvote-icon {
				color: $green;
			}
			.downvote-icon {
				color: $red;
			}
		}
	}
	.vote-count {
		margin-bottom: 0;
	}
}

.three-dots-container, .three-dots-container:hover {
	text-decoration: none;
	color: $black;
}
